.nav-item{
    font-family: sans-serif;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 44px;
    border-right: 1px ;
    padding-left: 50px;
    padding-right: 15px;
  
    background-color: transparent;
    

} 
.App{
    display:block;
    
    Top:0;
    Left: 0;
    Width:100%;

}